body{
    scroll-margin-top: 80px;

<<<<<<< HEAD
body{
    scroll-margin-top: 80px;

=======
>>>>>>> f893ec0e893b99bc3009e442f30b7c6b9e0df77f
}
html{
    scroll-behavior: smooth;
}
.footer-nav-link{
    text-decoration: none;
    cursor: pointer;
<<<<<<< HEAD
}
=======
}
>>>>>>> f893ec0e893b99bc3009e442f30b7c6b9e0df77f
